.swiper-scrollbar-drag{
    background: #ACACAC !important;
}
.arrow-left2.swiper-button-disabled > .arrow-left2-img{
    background-image: url("/arrow-hover.png") !important;
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
}
.arrow-right2.swiper-button-disabled > .arrow-right2-img{
    background-image: url("/arrow-hover.png") !important;
    -webkit-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
}
.labs-slider > div> div>.swiper-slide {
    width: auto !important;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #ACACAC; 
}
::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.partners-slider>div>div>.swiper-slide-active>.block,
.partners-slider>div>div>.swiper-slide-next>.block{
    border-right: 1px solid #5c5a66;
}
