.swiper-scrollbar-drag{
    background: #ACACAC !important;
}
.arrow-left2.swiper-button-disabled{
    background-image: url("/arrow-hover.png") !important;
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
}
.arrow-right2.swiper-button-disabled{
    background-image: url("/arrow-hover.png") !important;
    -webkit-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
}